@font-face {
    font-family: 'nasim';
    font-style: normal;
	font-weight: 300;
    src:url(Shabnam-FD.eot?#) format('embedded-opentype'),
          url(Shabnam-FD.woff) format('woff'),
          url(Shabnam-FD.ttf) format('truetype');
}

@font-face {
    font-family: 'Iran Sans';
    font-style: normal;
    font-weight: 300;
    src:url(BRoya.eot?#) format('embedded-opentype'),
    url(BRoya.woff) format('woff'),
    url(BRoya.ttf) format('truetype');
}

