* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "nasim";
}

:root {
  --white-light:#f7f7f7;
  --white-dark:#f1f1f1;
  --white-darker:#e4e4e4;

  --gray-lighter: #cfcfcf;
  --gray-light: #c3c3c3;
  --gray: #888;
  --gray-dark:#555;
  --gray-darker:#444;

  --green-light:#00c76e;
  --green:#00ad5f;
  --red:#ea4545;
  --red-dark:#d63636;

  --blue: #2196F3;

  --yellow: #efcd00;

  --brown: #bd7300;
}

ul {
  margin: 0;
}

button, input[type='button'] {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input, textarea {
  border: none;
}

span {
  font-weight: 100;
}

button {
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
}

p {
  margin: 0;
}

img, i {
  vertical-align: middle;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--gray-dark);
  overflow: hidden;
}

/* customizing scrollBar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--white-dark);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-light);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 13px;
}

blockquote {
  margin: 0;
}

strong {
  font-weight: 700;
}


/* ----- Links ----- */
a {
  display: inline-block;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover, a {
  transition: all 0.3s ease;
}

.dir-rtl {
  direction: rtl ;
}

.dir-ltr{
  direction: ltr !important;
}

.t-align-l {
  text-align: left;
}
.t-align-c {
  text-align: center;
}
.t-align-r {
  text-align: right;
}

.a-self-c {
  align-self: center;
}
.a-items-c {
  align-items: center;
}
.j-content-c {
  justify-content: center;
}
.j-content-e {
  justify-content: flex-end;
}
.padding-10{
    padding: 10px;
}

.pos-rltv {
  position: relative;
}
.pos-abs {
  position: absolute;
}

.dis-flex {
  display: flex;
}
.dis-none {
  display: none !important;
}
.flex-w {
  flex-wrap: wrap;
}
.dis-inline-b {
  display: inline-block;
}

.width-75{
  width: 75px;
}
.m-width-75 {
  min-width: 75px;
}
.m-width-100 {
  min-width: 100px;
}
.width-100 {
  width: 100px;
}
.width-140 {
  width: 140px;
}
.width-180 {
  width: 180px;
}
.width-260 {
  width: 260px;
}
.m-width-300 {
  min-width: 300px;
}
.width-full{
  width: 100%;
}

.height-full {
  height: 100%;
}

.flt-r {
  float: right;
}
.flt-l {
  float: left;
}
.bd-rd-5 {
  border-radius: 5px;
}
.bd-rd-7 {
  border-radius: 7px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}

.abs-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overflow-y {
  overflow-y: auto;
}

.cu-po {
  cursor: pointer;
}
.caret-down {
  width: 0;
  height: 0;
  margin-right: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--gray-darker);
}

.card {
  border-radius: 7px;
  margin-bottom: 30px;
  background: white;
}
.card.login {
  padding: 45px;
}

/* to remove input type="number" spinners */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  border-radius: 25px;
  padding: 5px 14px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  background: var(--green);
  color: white;
}

.button:hover {
  background: var(--green-light);
}
.button.secondary {
  background: var(--red-dark);
}
.button.secondary:hover {
  background: var(--red);
}
.button.grey {
  background-color: var(--gray-dark);
}
.button.calendar{
  background: white;
  border: 2px solid #9e9e9e;
  padding: 3px 14px;
  color: var(--gray-dark);
}
.button.pick-date {
  background: var(--white-light);
  border: 2px solid #9e9e9e;
  color: var(--gray-dark);

}

.button-dropdown-img {
  width: 0.9rem;
  height: 0.9rem;
  align-self: center;
  margin-left: 6px;
}
.btn-search {
  background: var(--blue);
  padding: 5px 15px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
}

.button.confirm-btn {
  padding-left: 20px;
  padding-right: 20px;
}

.button.green {
  background: var(--green);
}
.button.red {
  background: var(--red-dark);
}

.date-dropdown {
  z-index: 99;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000a3;
}
.date-dropdown li {
  text-decoration: none;
  list-style: none;
  padding: 5px 10px;
}
.date-dropdown li:hover {
  background-color: var(--white-dark);
}



.page-wrapper {
  /*overflow: hidden;*/
}
.page-container {
  background: var(--white-darker);
  padding-right: 240px;
}

.main-content {
  padding-top: 85px;
  min-height: 100vh;
  position: relative;
}

.login-con {
  background: var(--white-darker);
  height: 100vh;
}

.login-wrap {
  max-width: 540px;
  padding-top: 8vh;
  margin: 0 auto;
}

.login-checkbox {
  display: flex;
  justify-content: space-between;
}

.login-input {
  line-height: 43px;
  font-size: 14px;
  padding: 0 17px;
  transition: all .5s ease;
}


.remember-checkbox {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

.au-btn {
  line-height: 45px;
  padding: 0 35px;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.au-btn:hover {
  color: white;
  background: var(--blue);
}

.au-btn--block {
  display: block;
  width: 100%;
}

.au-btn-icon i {
  vertical-align: baseline;
  margin-right: 5px;
}

.au-btn--blue {
  background: var(--blue);
}

.au-btn--green {
  background: var(--green);
}

.au-btn--green:hover {
  background: var(--green);
}



.search-input {
  line-height: 43px;
  border: 1px solid var(--white-darker);
  font-size: 14px;
  color: var(--gray-dark);
  padding: 0 17px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.discount-input {
  line-height: 43px;
  border: 1px solid var(--gray);
  font-size: 14px;
  color: var(--white-light);
  padding: 0 17px;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.header-desktop {
  background: var(--white-light);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 240px;
  height: 75px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* typically it helps distribute extra free space leftover when either
    all the flex items on a line are inflexible,
    or are flexible but have reached their maximum size*/
}




.account-con {
  position: relative;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
}
.account-con:hover {
  background: var(--white-dark);
}

.account-img {
  width: 35px;
  height: 35px;
}
.account-dropdown {
  top: 55px;
  left: 0;
  position: absolute;
  background: white;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}
.account-con:hover .account-dropdown {
  display: flex;
}
  /* dropdown's pennis :) */
.account-dropdown:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: white;
  border-top: 1px solid var(--gray-light);
  border-right: 1px solid var(--gray-light);

  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%)  rotate(-45deg);
}

.account-dropdown li {
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
  z-index: 2;
}
.account-dropdown li:first-child {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.account-dropdown li:last-child {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.account-dropdown li:hover {
  background: var(--white-dark);
}

.navbar-sidebar-con {
  overflow-y: auto;
}
.navbar-sidebar-con::-webkit-scrollbar {
  width: 5px;
}

.menu-sidebar {
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
}

.menu-sidebar .logo {
  background: var(--white-light);
  height: 75px;
  padding: 0 50px;
  display: flex;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--white-light);
  position: relative;
  z-index: 3;
}
.logo img {
  display: block;
  margin: 0 auto;
}

.navbar-sidebar {
  padding: 10px 35px 35px;
  padding-bottom: 0;
  float: right;
}

.navbar__list li {
  list-style: none;
}
.navbar__list li a {
  text-decoration: none;
  display: block;
  color: #555;
  font-size: 15px;
  padding: 15px 0;
}

.navbar-sidebar .navbar__list li a:hover {
  color: var(--blue);
}
.navbar-sidebar .navbar__list li.active > a {
  color: var(--blue);
}

.sidebar-menu-icon {
  height: 20px;
  width: 20px;
  margin-left: 6px;
  margin-right: 10px;
}


/* dropdown's pennis */
.header-button .notifi-dropdown::before {
  left: 225px;
}

.header__logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}

i.check {
  font-size: 18px;
  cursor: pointer;
}
i.check.active {
  color: var(--green);
}

.customer-checkbox {
  height: 18px;
  width: 18px;
}


.slide-date {
    margin-top: auto;
    margin-bottom: 5px;
  padding-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    direction: rtl;
}

.food-order-text {
  color: #282c34;
  font-size: 14px;
  line-height: 27px;
}

.clickable {
  color: var(--blue);
  cursor: pointer;
}

.food-order-icon {
  height: 18px;
  width: 18px;
  margin: 2px 0 2px 4px;
  font-size: 18px;
}

.order-item {
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.overview-item-con {
  flex: 0 0 25%;
  padding: 10px
}
.overview-item {
  direction: rtl;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

  background-image: -moz-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}

.overview-item--c1 {
  background: linear-gradient(45deg, #e66465 0%, #9198e5 100%);
}

.overview-item--c2 {
  background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}

.overview-item--c3 {
  background: linear-gradient(90deg, #ee0979 0%, #ff8400 100%);
}

.overview-item--c4 {
  background-image: linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}

.chart-con {
  height: 500px;
  flex: 0 0 50%;

}

.avatar-wrap {
  position: relative;
  float: left;
}

.online .avatar::after {
  background: #63c76a;
}


.more-button:hover {
  color: #008de3;
  cursor: pointer;
}

.status--process {
  color: var(--green);
}

.status--denied {
  color: #fa4251;
}


.table-customer {
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table-customer thead {
  background: #333;
}

.table-customer thead tr th {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  padding: 20px 10px;
}

.table-customer thead tr th:last-child {
  text-align: center;
  padding-right: 40px;
}

.table-customer tbody tr td:last-child {
  text-align: center;
  padding-right: 40px;
  direction: ltr;

}

.table-customer tbody tr {
  border-left: 1px solid var(--white-light);
  border-right: 1px solid var(--white-light);
}


.table-customer tbody td {
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  font-size: 15px;
  color: #808080;
  padding: 10px;
}

.table-customer tbody td.process {
  color: var(--green);
}

.table-customer tbody td.denied {
  color: var(--red);
}

.order-badge {
  padding: 4px 6px;
  font-size: 11px;
  color: white;
  border-radius: 5px;

  margin-right: auto;
  display: inline-table;
}
.order-badge.gray {
  background: var(--gray);
}
.order-badge.green {
  background: var(--blue);
}
.order-badge.red {
  background: var(--red-dark);
}


.m-10 {
  margin: 10px;
}
.p-10 {
  padding: 10px;
}
.m-l-a {
  margin-left: auto;
}
.m-r-a {
  margin-right: auto;
}
.m-t-a {
  margin-top: auto;
}
.m-b-a {
  margin-bottom: auto;
}
.p-b-0 {
  padding-bottom: 0;
}
.p-t-0 {
  padding-top: 0;
}
.p-r-0 {
  padding-right: 0;
}
.p-l-0 {
  padding-left: 0;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-r-0 {
  margin-right: 0;
}
.m-l-0 {
  margin-left: 0;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-4 {
  padding-top: 4px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-r-3 {
  padding-right: 3px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-r-8 {
  padding-right: 8px;
}
.p-l-5 {
  padding-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.p-b-35 {
  padding-bottom: 35px;
}
.p-t-35 {
  padding-top: 35px;
}
.p-r-35 {
  padding-right: 35px;
}
.p-l-35 {
  padding-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.p-b-45 {
  padding-bottom: 45px;
}
.p-t-45 {
  padding-top: 45px;
}
.p-r-45 {
  padding-right: 45px;
}
.p-l-45 {
  padding-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-r-50 {
  padding-right: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.p-b-55 {
  padding-bottom: 55px;
}
.p-t-55 {
  padding-top: 55px;
}
.p-r-55 {
  padding-right: 55px;
}
.p-l-55 {
  padding-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.p-t-60 {
  padding-top: 60px;
}
.p-r-60 {
  padding-right: 60px;
}
.p-l-60 {
  padding-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.p-b-65 {
  padding-bottom: 65px;
}
.p-t-65 {
  padding-top: 65px;
}
.p-r-65 {
  padding-right: 65px;
}
.p-l-65 {
  padding-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.p-b-70 {
  padding-bottom: 70px;
}
.p-t-70 {
  padding-top: 70px;
}
.p-r-70 {
  padding-right: 70px;
}
.p-l-70 {
  padding-left: 70px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-r-70 {
  margin-right: 70px;
}
.m-l-70 {
  margin-left: 70px;
}
.p-b-75 {
  padding-bottom: 75px;
}
.p-t-75 {
  padding-top: 75px;
}
.p-r-75 {
  padding-right: 75px;
}
.p-l-75 {
  padding-left: 75px;
}
.m-b-75 {
  margin-bottom: 75px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-r-75 {
  margin-right: 75px;
}
.m-l-75 {
  margin-left: 75px;
}
.p-b-80 {
  padding-bottom: 80px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-r-80 {
  padding-right: 80px;
}
.p-l-80 {
  padding-left: 80px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-l-80 {
  margin-left: 80px;
}
.p-b-85 {
  padding-bottom: 85px;
}
.p-t-85 {
  padding-top: 85px;
}
.p-r-85 {
  padding-right: 85px;
}
.p-l-85 {
  padding-left: 85px;
}
.m-b-85 {
  margin-bottom: 85px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-r-85 {
  margin-right: 85px;
}
.m-l-85 {
  margin-left: 85px;
}
.p-b-90 {
  padding-bottom: 90px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-r-90 {
  padding-right: 90px;
}
.p-l-90 {
  padding-left: 90px;
}
.m-b-90 {
  margin-bottom: 90px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-r-90 {
  margin-right: 90px;
}
.m-l-90 {
  margin-left: 90px;
}
.p-b-95 {
  padding-bottom: 95px;
}
.p-t-95 {
  padding-top: 95px;
}
.p-r-95 {
  padding-right: 95px;
}
.p-l-95 {
  padding-left: 95px;
}
.m-b-95 {
  margin-bottom: 95px;
}
.m-t-95 {
  margin-top: 95px;
}

.m-r-95 {
  margin-right: 95px;
}
.m-l-95 {
  margin-left: 95px;
}
.p-b-100 {
  padding-bottom: 100px;
}
.p-t-100 {
  padding-top: 100px;
}
.p-r-100 {
  padding-right: 100px;
}
.p-l-100 {
  padding-left: 100px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-100 {
  margin-right: 100px;
}
.m-l-100 {
  margin-left: 100px;
}

.txt-bold {
  font-weight: bold;
}

.login-form .form-group label {
  display: block;
}
/* input background color on autofill */
.login-form input:-webkit-autofill,.login-form input:-webkit-autofill:hover,.login-form input:-webkit-autofill:focus,
.login-forminput:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #2E4158 inset !important;
}
/* input text color on autofill */
.login-form input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.accept-order-con {
  border: 2px solid #e8e8e8;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  height: 45px;
  border-radius: 25px;
}

.order-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  /*margin-bottom: auto !important;*/
}

.order-switch input {
  width: 0;
  height: 0;
}

.order-switch .slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.order-switch .slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  -webkit-transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 2px var(--blue);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.header-accept-txt {
  align-self: center;
  font-size: 13px;
  cursor: default;
}


/* dropdown animation */
.account-dropdown-enter {
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease;
  overflow: hidden;
}
.account-dropdown-enter-active {
  height: auto;
  max-height: 400px;
}

.account-dropdown-exit {
  max-height: 400px;
  transition: max-height 0.5s ease;
}
.account-dropdown-exit-active {
  overflow: hidden;
  max-height: 0px;
}

.sortbar-dropdown {
  position: absolute;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  top: 35px;
  z-index: 1;
  cursor: pointer;
  min-width: 100px;
}
.sortbar-dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 10px;
  clear: both;
  font-weight: 400;
  color: var(--gray-dark);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.sortbar-dropdown-item:hover {
  background: var(--gray-lighter);
}

.my-dropdown-toggle{
  direction: rtl;
}



.dropdown-container {
  margin-bottom: 25px;
  display: flex;
}

.container-main {
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    top: 80px;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.food-container {
    flex: 0 0 50%;
    min-width: 690px;
}

.food-layout {
  direction: rtl;
  display: flex;
  background: white;
  padding: 15px;
  border-radius: 7px;
  margin: 0 5px 15px 5px;
  position: relative;
  border: 2px solid var(--gray-light);
}
.food-layout.unavailable{
  background: var(--white-light);
  border-color: #bb8c8c;
}

.food-row {
  display: flex;
  position: relative;
  margin-bottom: 10px
}

.food-detail {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.food-buttons {
  display: flex;
  left: 0;
  position: absolute;
}

.food-btn {
  color: var(--gray-darker);
  font-size: 13px;
  line-height: 26px;
  margin: 0 5px;
  padding: 0 6px 2px 6px;
  background: var(--white-dark);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.food-btn:hover {
  color: black;
}

.food-btn-icon {
  display: block;
  margin: auto 0;
  height: 16px;
  width: 16px;
  margin-left: 3px;
}


.food-price-padding {
  padding-left: 20px;
  padding-right: 5px;
}

.fa-star.yellow {
  color: var(--yellow);
}
.food-btn.blue {
    color: var(--blue);
}

.food-icon {
  border-radius: 5px;
  height: 150px;
  width: 200px;
  object-fit: cover;
  flex: 0 0 200px;
}

.input {
  border-radius: 4px;
  padding: 0px 6px;
  color: #bd7300;
  border: 2px solid var(--gray);
  line-height: 26px;
}
.input::placeholder {
  color: var(--gray-light);
}

.input.code {
  font-family: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.time-input {
    text-align: center;
    width: 40px;
  direction: ltr;
}

.food-menu-dropdown {
  left: -90px
}

.modal-container {
  margin: -20px;
  direction: rtl;
  border-radius: 7px;
  background: white;
}

.close-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
.close-btn:hover:before, .close-btn:hover:after{
  background-color: var(--red);
}
.close-btn:before, .close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 3px;
  background-color: var(--red-dark);
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}



.return-btn {
  /*position: absolute;*/
  right: 26px;
  top: 15px;
  display: flex;
  color: var(--gray-darker);
  font-size: 13px;
}
.return-btn:hover, .return-btn:hover div{
  color: var(--blue);
  border-color: var(--blue);
}
.arrow-right{
  align-self: center;
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray-darker);
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
  margin-right: 5px;
  margin-left: 2px;
}

.arrow-down{
  align-self: center;
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray-darker);
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  margin-right: 5px;
  margin-left: 2px;
}

.pick-date {
  background: white;
  border-radius: 25px;
  display: flex;
  padding: 5px 10px;
  border: 2px solid var(--gray);
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.pick-date:hover{
  background: var(--white-light);
}
.pick-date .arrow-down {
  width: 8px;
  height: 8px;
  margin-top: -5px;
  margin-right: 8px;
}

.pick-date .close-btn {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
}
.pick-date .close-btn:before, .pick-date .close-btn:after {
  height: 16px;
  width: 2px;
  background-color: var(--red);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pick-date .close-btn:hover{
  background-color: var(--gray-lighter)
}



.modal-head {
    position: relative;
    padding: 8px 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgba(0,0,0,.05);
    width: 100%;
  min-height: 48px;
   display: flex;
   align-items: center;
}

.modal-subject {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
}

/* in elements with table-data3 class on hover on tr elements
    these are styles for td elements
*/
.table-customer tr:hover td {
  background: var(--white-dark);
  cursor: pointer;
}

/* overriding default calendar syles */
.my-calendar {
    position: absolute !important;
    min-height: 271px !important;
    z-index: 99 !important;
    top: 46px !important;
    left: -90px !important;
    font-size: 8.4px !important; /* calendar size changes with this font-size */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid var(--gray);
}

.Calendar {
    padding-top: 5px !important;
}
.Calendar__header {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.Calendar__monthArrowWrapper.-right .Calendar__monthArrow {
  height: 16px !important;
  width: 18px !important;
}
.Calendar__monthArrowWrapper.-left .Calendar__monthArrow {
  height: 16px !important;
  width: 18px !important;
}
.Calendar__monthYear {
  font-size: 15px !important;
  width: 85px !important;
  text-align: center !important;
}

.Calendar__section {
  padding: 0 18px !important;
}
.Calendar__weekDays {
    margin-bottom: 10px !important;
    font-weight: bold !important;
    color: #8a8a8a !important;
    padding: 0 18px !important;
}
.Calendar button {
    font-size: 14px !important;
}
.Calendar::after {
  content: "" !important;
  position: absolute !important;
  top: -8px !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
  width: 14px !important;
  height: 14px !important;
  border: 1px solid var(--gray) !important;
  border-left: 0 !important;
  border-top: 0 !important;
  transform: rotate(-135deg) !important;
  background: white !important;
}







.remove-date {
    width: 16px;
    margin-left: 5px;
}

.remove-date:hover {
    background: var(--gray-light);
    border-radius: 3px;
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
}
.food-label {
  display: flex;
  justify-content: center;
  height: 100%;
  background: var(--white-darker);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.food-lbl-edit{
  background: url('./assets/icons/edit.png');
  width: 14px;
  height: 14px;
}
.food-lbl-check{
  background: url('./assets/icons/checked-green.png');
  width: 15px;
  height: 15px;
}
.food-lbl-delete {
  background: url('./assets/icons/close.png');
  width: 18px;
  height: 18px;
}
.food-lbl-btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.food-label-input {
  color: transparent;
  text-shadow: 0 0 0 black;
  cursor: default;
}
.food-label-input:focus {
     outline: none;
}

.btn-new-food {
  border-radius: 5px;
  position: absolute;
  left: 23.5px;
  bottom: 23.5px;
  background: #50bd00;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.circle {
  height: 16px;
  width: 16px;
  border: 3px solid;
  border-radius: 50%;
  display: inline-block;
}
.circle.green {
  border-color: var(--green);
}
.circle.red {
  border-color: red;
}

.star-margin {
  margin-top: 7px;
  margin-left: 4px;
}

.btn-save-food {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 20px;
  padding-right: 20px;
  background: var(--green);
  /*line-height: 35px;*/
  color: white;
  bottom: 0;
  min-width: 75px;
  min-height: 35px;
  border-radius: 5px;
}
.btn-upload-pic {
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  background: #efefef;
  border: 1px solid #907c00;
  color: #656565;
  border-radius: 5px;
  cursor: pointer;
}

.food-contanier-edit {
  direction: rtl;
  display: flex;
  background: white;
  position: relative;
  padding-bottom: 40px;
}
.food-pic{
  border-radius: 5px;
   /*height: 184px;*/
   /*width: 246px;*/
   object-fit: cover;


  width: inherit !important;
  height: inherit !important;
 }
.food-pic-select{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 184px;
  width: 246px;
}
.food-select-hint {
  text-align: center;
  padding: 5px;
  font-size: 13px;
  color: #7b7b7b;
}

.food-pic-input {
  position: absolute;
  opacity: 0;
}
.btn-cancel-img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  background: white;
  width: 23px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 1px;
  margin-top: 1px;
}

.toast-container {
  position: fixed;
  z-index: 1111;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid var(--gray);
  font-size: 15px;
  box-shadow: 2px 4px 16px #00000085;
}

/* toast animation */
.toast-enter {
  opacity: 0;
  bottom: 80px
}
.toast-enter-active {
  opacity: 1;
  bottom: 100px;
  transition: all 300ms ease-in;
}
.toast-enter-done {
  opacity: 1;
  bottom: 100px;
}
.toast-exit {
  opacity: 1;
  bottom: 100px;
}
.toast-exit-active {
  opacity: 0;
  bottom: 80px;
  transition: all 300ms ease-in;
}

.btn-label-drop {
  cursor: pointer;
}
.btn-label-drop:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  margin-right: 5px;
  left: 4px;
  position: absolute;
  margin-left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.food-meal-con {
  border: 2px solid black;
  border-radius: 15px;
  background: #ffffff;
  padding: 20px;
}
.food-meal {
    background: var(--white-dark);
    color: var(--gray-dark);
    border-radius: 5px;
    border: 2px solid var(--white-darker);
    padding: 5px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: default;
}

.manage-label-con {
  background: var(--gray);
  border-radius: 5px;
}
.manage-label {
  align-self: center;
  color: white;
}
.manage-label-input-con {
  display: flex;
  justify-content: center;
  height: 100%;
  background: var(--gray-light);
  padding: 7px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}



.bill-table th {
  padding-bottom: 10px;
  padding-top: 10px;
  background: var(--gray);
  color: white;
  font-weight: normal;
  font-size: 15px;
  cursor: default;
}
.bill-table th:first-child {
  border-top-right-radius: 7px;
}
.bill-table th:last-child {
  border-top-left-radius: 7px;
}

.bill-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}

.bill-table tr:last-child td:first-child {
  border-bottom-right-radius: 7px;
}
.bill-table tr:last-child td:last-child {
  border-bottom-left-radius: 7px;
}

.map {
  height: 450px;
  width: 500px;
  position: relative;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
}

.marker-container {
  width: 40px;
  height: 80px;
  position: absolute;
  z-index: 3333;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.marker {
  width: 40px;
  margin-bottom: 35px;
  left: 0;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid var(--green);
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader.medium {
  border: 3px solid var(--green);
  border-top: 3px solid var(--white-light);
  width: 25px;
  height: 25px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.order-pic {
  background: #dbe3db;
  width: 64px;
  height: 64px;
  margin-top: 0px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.item-head {
  padding: 10px 17px;
  background-color: #efefef;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.item-body {
  background: white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 17px 17px 17px 17px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.order-con {
  flex: 0 0 33.33%;
}
.order-con-small {
  flex: 0 0 25%;
}
.order-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.help-list li {
  background-color: var(--white-light);
  color: var(--gray-dark);
  border-radius: 7px;
  margin: 10px 0px;
  padding: 10px;
}

.label-map {
  position: absolute;
}

.ck.ck-editor {
  width: 600px !important;
}
.ck.ck-editor__main>.ck-editor__editable {
  height: 300px;
}

/*.text ul, .text ol {*/
/*  padding: 0 40px;*/
/*}*/

.comment-layout {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.full-screen {
  width: 100%;
  height: 100vh;
  background: #353535;
  z-index: 91;
  position: fixed; /* just to show this over fixed elements */
  text-align: center;
  padding: 10%;
  display: grid;
}
.screen {
  background: url(./assets/icons/computer-screen.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: auto;
  margin-right: auto;
}
.expand {
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  margin: auto;
  top: 60px;
}





/* NOTICE: when using max-width, media queries must be from greater to lower */
@media (max-width: 2560px) {

}
@media (max-width: 1660px) {
    .food-container {
        min-width: 800px;
    }
}
@media (max-width: 1600px) {
    .order-con-small {
    flex: 0 0 33.333333%;
    max-width: 33.333333% ;
    }

}
@media (max-width: 1440px) {
  .order-con {
    flex: 0 0 50%;
  }
}

@media (max-width: 1100px) {
    .order-con-small { /* The flex property is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties. */
        flex: 0 0 50% ;
        max-width: 50%;
    }
}


